<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright DataStax, Inc.

    This software is subject to the below license agreement.
    DataStax may make changes to the agreement from time to time,
    and will post the amended terms at
    https://www.datastax.com/terms/datastax-dse-bulk-utility-license-terms.

-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%thread] %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="${log.root.level:-ERROR}">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="com.datastax.dsbulk.commons.tests.ccm" level="ERROR"/>
</configuration>
