<!--

    Copyright (C) 2017 DataStax Inc.

    This software can be used solely with DataStax Enterprise. Please consult the license at
    http://www.datastax.com/terms/datastax-dse-driver-license-terms

-->
<configuration>

  <property scope="context" name="com.datastax.dsbulk.PRODUCTION" value="true"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardOutFilter"/>
    <encoder>
      <pattern>%date{ISO8601,UTC} %-5level %msg%n%nopex</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardErrorFilter"/>
    <encoder>
      <pattern>%date{ISO8601,UTC} %-5level %msg%n%nopex</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </root>

  <logger name="com.datastax.driver" level="WARN"/>

</configuration>
