<!--

    Copyright DataStax, Inc.

    This software is subject to the below license agreement.
    DataStax may make changes to the agreement from time to time,
    and will post the amended terms at
    https://www.datastax.com/terms/datastax-dse-bulk-utility-license-terms.

-->
<configuration>

  <!--
  When editing this file, check that com.datastax.dsbulk.engine.internal.settings.LogSettings
  is still working as expected, since it modifies the Logback configuration
  programmatically.
  -->

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
  
  <property scope="context" name="com.datastax.dsbulk.PRODUCTION" value="true"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardOutFilter"/>
    <encoder>
      <pattern>%nopex%green(%date{yyyy-MM-dd,UTC}) %cyan(%date{HH:mm:ss,UTC}) %highlight(%-5level) %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardErrorFilter"/>
    <encoder>
      <pattern>%nopex%boldRed(%date{yyyy-MM-dd HH:mm:ss,UTC} %-5level %msg%n)</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </root>

  <logger name="com.datastax.driver" level="WARN"/>

</configuration>
