<!--

    Copyright (C) 2017 DataStax Inc.

    This software can be used solely with DataStax Enterprise. Please consult the license at
    http://www.datastax.com/terms/datastax-dse-driver-license-terms

-->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601,UTC} %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>com.datastax.loader.OPERATION_DIRECTORY</key>
      <defaultValue>.</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${com.datastax.loader.OPERATION_DIRECTORY}" class="ch.qos.logback.core.FileAppender">
        <file>${com.datastax.loader.OPERATION_DIRECTORY}/operation.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%date{ISO8601,UTC} %-5level %-40logger{40} - %msg%n</pattern>
        </layout>
      </appender>
    </sift>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
