<!--

    Copyright DataStax, Inc.

    This software is subject to the below license agreement.
    DataStax may make changes to the agreement from time to time,
    and will post the amended terms at
    https://www.datastax.com/terms/datastax-dse-bulk-utility-license-terms.

-->
<configuration>

  <!-- for testing purposes, this file should contain exactly the same appenders
  as the production configuration file "logback.xml" -->

  <appender name="STDOUT" class="com.datastax.dsbulk.engine.internal.log.AnsiConsoleAppender">
    <target>System.out</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardOutFilter"/>
    <encoder>
      <pattern>%nopex%green(%date{yyyy-MM-dd,UTC}) %cyan(%date{HH:mm:ss,UTC}) %highlight(%-5level) %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="STDERR" class="com.datastax.dsbulk.engine.internal.log.AnsiConsoleAppender">
    <target>System.err</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardErrorFilter"/>
    <encoder>
      <pattern>%nopex%boldRed(%date{yyyy-MM-dd HH:mm:ss,UTC} %-5level %msg) %n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="${log.root.level:-OFF}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </root>

  <logger name="com.datastax.oss.simulacron" level="ERROR"/>
  <logger name="com.datastax.dsbulk.commons.tests.ccm" level="ERROR"/>

</configuration>
