<!--

    Copyright DataStax Inc.

    This software can be used solely with DataStax Enterprise. Please consult the license at
    http://www.datastax.com/terms/datastax-dse-driver-license-terms

-->
<configuration>

  <!-- for testing purposes, this file should contain exactly the same appenders
  as the production configuration file "logback.xml" -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardOutFilter"/>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss,UTC} %-5level %msg%n%nopex</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="com.datastax.dsbulk.engine.internal.log.StandardErrorFilter"/>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss,UTC} %-5level %msg%n%nopex</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="${log.root.level:-OFF}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </root>

  <logger name="com.datastax.oss.simulacron" level="ERROR"/>
  <logger name="com.datastax.dsbulk.tests.ccm" level="ERROR"/>

</configuration>
